/* Variables */
$default-padding: 0.75rem;
$header-height: 3rem + $default-padding * 2;
$footer-height: 5rem + $default-padding;
$hamburger-menu-width: 60vw;
$main-color: #001a3f;
$secondary-color: #014393;
$tertiary-color: #368ce0;
$bg-color: lighten($tertiary-color, 20%);
/* Mixins */
@mixin width-center($width) {
    width: $width;
    margin: 0px auto;
}
@mixin margin-x($value) {
    margin-left: $value;
    margin-right: $value;
}
@mixin margin-y($value) {
    margin-top: $value;
    margin-bottom: $value;
}
@mixin padding-x($value) {
    padding-left: $value;
    padding-right: $value;
}
@mixin padding-y($value) {
    padding-top: $value;
    padding-bottom: $value;
}
@mixin flex($jc, $wrap : nowrap, $align : center) {
    display: flex;
    justify-content: $jc;
    flex-wrap: $wrap;
    align-items: $align;
}
@mixin border($width, $color) {
    border: $width solid $color;
}
#darken {
    position: fixed;
    z-index: 6;
    width: 0;
    height: 0;
    top: 0px;
    left: 0px;
    background-color: transparent;
    transition: background-color 1s;
}
#privacy-policy {
    cursor: pointer;
    text-decoration: underline;
    color: lighten($secondary-color, 20%);
}
.prompt {
    width: 50%;
    height: 50%;
    position: fixed;
    top: 25%;
    left: 25%;
    padding: $default-padding * 2;
    background-color: #fff;
    border-radius: 25px;
    .prompt-scroll {
        overflow-y: scroll;
        height: 90%;
        .prompt-title {
            font-weight: bold;
            margin-top: $default-padding;
        }
    }
    button {
        width: 100%;
        @include padding-y($default-padding);
        margin-top: $default-padding;
        border-radius: 25px;
    }
}
/* Classes for overriding */
.d-none {
    display: none!important;
}
.d-block {
    display: block!important;
}
/* Custom classes */
.stop-scroll {
    height: 100%;
    overflow: hidden;
}
.flex-between {
    @include flex(space-between);
}
.flex-end {
    @include flex(flex-end);
}
.hb-active {
    width: $hamburger-menu-width!important;
}
.hb-open {
    transform: rotateZ(90deg);
}
.red {
    color: lighten(darkred, 5%);
}
/* Slider */
.slider {
    position: relative;
    overflow: hidden;
    button {
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        outline: none;
        font-size: 2rem;
        position: absolute;
    }
    .flex-between {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
}
.slider-text-wrapper {
    position: absolute;
    background-color: rgba($tertiary-color, 0.6);
    width: 100%;
    height: 20%;
    top: 70%;
    @include flex(center, nowrap, center);
    flex-direction: column;
    p {
        text-align: center;
        width: 60%;
        font-size: clamp(1rem, 2vw, 1.4rem);
        color: lighten($tertiary-color, 40%);
    }
}
.slide-inactive {
    display: none;
}
.slider-btn-left {
    left: 0px;
    cursor: pointer;
}
.slider-btn-right {
    right: 0px;
    cursor: pointer;
}
.slider-btn-left, .slider-btn-right {
    top: 0px;
    height: 100%;
    @include padding-x($default-padding * 2);
}
.slider-indicator {
    width: 50px;
    height: 3px;
    background-color: whitesmoke;
    transition: background-color 1s;
    @include margin-x($default-padding);
}
.slider-indicator-inactive {
    background-color: gray;
}