/* Variables */
$default-padding: 0.75rem;
$header-height: 3rem + $default-padding * 2;
$footer-height: 5rem + $default-padding;
$hamburger-menu-width: 60vw;
/* Mixins */
@mixin width-center($width) {
    width: $width;
    margin: 0px auto;
}
@mixin margin-x($value) {
    margin-left: $value;
    margin-right: $value;
}
@mixin margin-y($value) {
    margin-top: $value;
    margin-bottom: $value;
}
@mixin padding-x($value) {
    padding-left: $value;
    padding-right: $value;
}
@mixin padding-y($value) {
    padding-top: $value;
    padding-bottom: $value;
}
@mixin flex($jc, $wrap : nowrap, $align : center) {
    display: flex;
    justify-content: $jc;
    flex-wrap: $wrap;
    align-items: $align;
}
/* Classes for overriding */
.d-none {
    display: none!important;
}
.d-block {
    display: block!important;
}
/* Custom classes */
.flex-between {
    @include flex(space-between);
}
.hb-active {
    width: $hamburger-menu-width!important;
}
.hb-open {
    transform: rotateZ(90deg);
}
/* Slider */
.test-div {
    height: 500px;
    width: 100%;
    background-color: yellow;
}
.slider {
    position: relative;
    overflow: hidden;
    button {
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        outline: none;
        font-size: 2rem;
        position: absolute;
    }
}
.slider-text-wrapper {
    position: absolute;
    background-color: lightgray;
    width: 100%;
    height: 25%;
    top: 70%;
    @include flex(center, nowrap, center);
    flex-direction: column;
    p {
        text-align: center;
    }
}
.slide-inactive {
    display: none;
}
.slider-btn-left {
    top: 50%;
    left: 20px;
}
.slider-btn-right {
    top: 50%;
    right: 20px;
}