@import '_misc.scss';
* {
    margin: 0px;
    padding: 0px;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    a {
        text-decoration: none;
    }
}
header {
    width: 100%;
    background-color: lightgray;
    @include padding-y($default-padding);
    #header-container {
        @include width-center(80%);
        @include flex(space-between);
        ul {
            list-style-type: none;
            @include flex(flex-end);
            li {
                @include padding-x(20px);
            }
        }
        #hamburger {
            display: none;
            font-size: 1.6rem;
            width: 2.2rem;
            height: 2.2rem;
            i {
                transition: transform 0.5s;
            }
        }
        #nav-block {
            display: none;
            padding-top: 10px;
            position: fixed;
            top: 3.875rem;
            right: 0px;
            width: 0px;
            min-height: 100vh;
            transition: width 0.5s;
            background-color: gray;
            ul {
                flex-wrap: wrap;
                flex-direction: column;
                li {
                    white-space: nowrap;
                    @include padding-y($default-padding);
                }
            } 
        }
    }
}