@import '_misc.scss';
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    a {
        text-decoration: none;
    }
    ul {
        list-style-type: none;
    }
}
header {
    position: relative;
    z-index: 2;
    background-color: lightgray;
    @include padding-y($default-padding);
    #header-container {
        @include width-center(80%);
        @include flex(space-between);
        #logo-wrapper {
            height: $header-height - $default-padding * 2;
            img {
                max-height: 100%
            }
        }
        ul {
            @include flex(flex-end);
            li {
                @include padding-x(20px);
            }
        }
        #hamburger {
            display: none;
            font-size: 1.6rem;
            width: 2.2rem;
            height: 2.2rem;
            i {
                transition: transform 0.5s;
            }
        }
        #nav-block {
            display: none;
            padding-top: 10px;
            position: absolute;
            z-index: 1;
            top: $header-height;
            right: 0px;
            width: 0px;
            min-height: 100vh - $header-height;
            transition: width 0.5s;
            background-color: gray;
            ul {
                flex-wrap: wrap;
                flex-direction: column;
                li {
                    white-space: nowrap;
                    @include padding-y($default-padding);
                }
            } 
        }
    }
}
main {
    min-height: calc(100vh - $header-height - $footer-height);
    #form-wrapper {
        @include width-center(40%);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: $default-padding;
        row-gap: $default-padding * 1.2;
        .form-input {
            position: relative;
            input {
                @include margin-y($default-padding);
                width: 100%;
            }
            &:nth-child(n + 3):nth-child(-n + 4), &:last-child {
                grid-column: 1 / 3;
            }
            input[type="submit"] {
                display: block;
                @include width-center(40%);
                @include padding-y($default-padding);
            }
            input[type="text"] {
                @include padding-y($default-padding/2);
                @include padding-x($default-padding);
            }
            .error-text {
                position: absolute;
                top: 65px;
                font-size: 0.8rem;
                color: red;
            }
        }
        #select-region {
            @include margin-y($default-padding);
            width: 50%;
            @include padding-y($default-padding/2);
            @include padding-x($default-padding/2);
        }
        .radio-wrapper {
            @include flex(space-between, wrap, center);
            .radio-holder {
                @include flex(flex-start, nowrap, center);
                @include width-center(60%);
                input {
                    width: auto;
                    height: 20px;
                    @include margin-x($default-padding);
                }
            }
        }
    }
}
footer {
    background-color: lightgray;
    // padding-top: $default-padding;
    min-height: $footer-height;
    i {
        font-size: 1.5rem;
    }
    &> .flex-between {
        margin: 0px auto;
        width: 80%;
    }
    #socials {
        width: 25%;
        #socials-wrapper {
            width: 200px;
            margin: 0px auto;
            @include flex(space-evenly);
        }
    }
    #info {
        width: 25%;
        font-size: 0.8rem;
    }
    #files {
        width: 100px;
    }
    #footer-nav {
        width: 40%;
        @include padding-y($default-padding * 1.5);
        ul {
            @include flex(space-between);
        }
    }
}