/* Variables */
/* Mixins */
/* Classes for overriding */
.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

/* Custom classes */
.stop-scroll {
  height: 100%;
  overflow: hidden;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: center;
}

.hb-active {
  width: 60vw !important;
}

.hb-open {
  transform: rotateZ(90deg);
}

/* Slider */
.slider {
  position: relative;
  overflow: hidden;
}
.slider button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  font-size: 2rem;
  position: absolute;
}
.slider .flex-between {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.slider-text-wrapper {
  position: absolute;
  background-color: rgba(211, 211, 211, 0.75);
  width: 100%;
  height: 20%;
  top: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
}
.slider-text-wrapper p {
  text-align: center;
  width: 60%;
  font-size: clamp(1rem, 2vw, 1.4rem);
}

.slide-inactive {
  display: none;
}

.slider-btn-left {
  left: 0px;
}

.slider-btn-right {
  right: 0px;
}

.slider-btn-left, .slider-btn-right {
  top: 0px;
  height: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.slider-indicator {
  width: 50px;
  height: 3px;
  background-color: whitesmoke;
  transition: background-color 1s;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.slider-indicator-inactive {
  background-color: gray;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
body a {
  text-decoration: none;
}
body ul {
  list-style-type: none;
}
body h1, body h2, body h3, body h4 {
  text-align: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
body h1 {
  font-size: clamp(1.2rem, 2vw, 2rem);
}

header {
  position: relative;
  z-index: 2;
  background-color: lightgray;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
header #header-container {
  width: 80%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
header #header-container #logo-wrapper {
  height: 3rem;
}
header #header-container #logo-wrapper img {
  max-height: 100%;
}
header #header-container ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: center;
}
header #header-container ul li {
  padding-left: 20px;
  padding-right: 20px;
}
header #header-container #hamburger {
  display: none;
  font-size: 1.6rem;
  width: 2.2rem;
  height: 2.2rem;
}
header #header-container #hamburger i {
  transition: transform 0.5s;
}
header #header-container #nav-block {
  display: none;
  padding-top: 10px;
  position: absolute;
  z-index: 1;
  top: 4.5rem;
  right: 0px;
  width: 0px;
  min-height: 100vh;
  transition: width 0.5s;
  background-color: gray;
}
header #header-container #nav-block ul {
  flex-wrap: wrap;
  flex-direction: column;
}
header #header-container #nav-block ul li {
  white-space: nowrap;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

main {
  min-height: calc(100vh - 4.5rem - 5.75rem);
}
main #main-slider .slider-background-image {
  width: 100%;
  height: clamp(400px, 100vh - 4.5rem, 1200px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main #main-slider i {
  color: whitesmoke;
}
main #about-us {
  width: 80%;
  margin: 0px auto;
}
main #about-us h1 {
  font-size: clamp(1.2rem, 2vw, 2rem);
}
main #about-us h1 ~ .flex-between {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}
main #about-us h1 ~ .flex-between #image-holder {
  width: clamp(50px, 50%, 600px);
  height: 350px;
  margin: 0px auto;
  border: 1px solid blue;
  border-radius: 25px;
  box-shadow: -1px 1px 1px 1px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
main #about-us h1 ~ .flex-between p {
  width: 50%;
  padding-right: 0.75rem;
  line-height: 1.6rem;
  font-size: 1.2rem;
  text-align: justify;
}
main #about-us h2 {
  font-size: clamp(1rem, 2vw, 1.5rem);
  padding-bottom: 1.5rem;
}
main #about-us h2 ~ div {
  align-items: stretch;
}
main #about-us h2 ~ div .services-element {
  width: 22.5%;
  background-color: lightgray;
  border-radius: 25px;
  padding: 2rem;
}
main #about-us h2 ~ div .services-element p {
  font-size: clamp(1rem, 2vw, 1.2rem);
  width: 100%;
  text-align: justify;
  padding: 0px;
}
main #about-us h2 ~ div i {
  display: block;
  text-align: center;
  font-size: clamp(1.2rem, 2vw, 2rem);
}
main #testimonials {
  width: 80%;
  margin: 0px auto;
}
main #testimonials .flex-between {
  width: 100%;
}
main #testimonials .flex-between > p {
  width: 40%;
  margin: 0px auto;
  text-align: justify;
  line-height: 1.6rem;
}
main #testimonials .flex-between .slider {
  position: relative;
  width: 50%;
  height: 250px;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  background-color: lightblue;
  border-radius: 25px;
}
main #testimonials .flex-between .slider .slider-slide > .slider-grid {
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  row-gap: 0.75rem;
}
main #testimonials .flex-between .slider .slider-slide > .slider-grid .testimonial-img-holder {
  width: 50%;
  grid-column: 1/2;
  margin-left: 4.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
}
main #testimonials .flex-between .slider .slider-slide > .slider-grid .testimonial-img-holder img {
  border-radius: 25px;
  outline: 1px solid lightblue;
  box-shadow: 1px 1px 1px 1px;
  max-width: 100%;
}
main #testimonials .flex-between .slider .slider-slide > .slider-grid .testimonial-text-holder {
  grid-column: 2/3;
  width: 100%;
  font-size: clamp(0.7rem, 2vw, 0.9rem);
  line-height: clamp(1rem, 2vw, 1.4rem);
  padding-right: 4.5rem;
  padding-top: 0.75rem;
}
main #testimonials .flex-between .slider .slider-slide > .slider-grid .testimonial-name-holder {
  grid-column: 1/3;
  padding-left: 4.5rem;
}
main #testimonials .flex-between .slider .slider-slide > .slider-grid .testimonial-name-holder .testimonial-name {
  text-align: center;
  padding-bottom: 1.5rem;
}
main #testimonials .flex-between .slider .slider-slide ~ .flex-between {
  width: auto;
  align-items: center;
  padding-left: 4.5rem;
}
main #form-wrapper {
  width: 40%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  row-gap: 0.9rem;
}
main #form-wrapper .form-input {
  position: relative;
}
main #form-wrapper .form-input input {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  width: 100%;
}
main #form-wrapper .form-input:nth-child(n+3):nth-child(-n+4), main #form-wrapper .form-input:last-child {
  grid-column: 1/3;
}
main #form-wrapper .form-input input[type=submit] {
  display: block;
  width: 40%;
  margin: 0px auto;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
main #form-wrapper .form-input input[type=text] {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
main #form-wrapper .form-input .error-text {
  position: absolute;
  top: 65px;
  font-size: 0.8rem;
  color: red;
}
main #form-wrapper #select-region {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  width: 50%;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}
main #form-wrapper .radio-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
main #form-wrapper .radio-wrapper .radio-holder {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  width: 60%;
  margin: 0px auto;
}
main #form-wrapper .radio-wrapper .radio-holder input {
  width: auto;
  height: 20px;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

footer {
  background-color: lightgray;
  min-height: 5.75rem;
}
footer i {
  font-size: 1.5rem;
}
footer > .flex-between {
  margin: 0px auto;
  width: 80%;
}
footer #socials {
  width: 25%;
}
footer #socials #socials-wrapper {
  width: 200px;
  margin: 0px auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;
}
footer #info {
  width: 25%;
  font-size: 0.8rem;
}
footer #files {
  width: 100px;
}
footer #footer-nav {
  width: 40%;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
}
footer #footer-nav ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}/*# sourceMappingURL=style.css.map */