/* Variables */
/* Mixins */
/* Classes for overriding */
.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

/* Custom classes */
.flex-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.hb-active {
  width: 60vw !important;
}

.hb-open {
  transform: rotateZ(90deg);
}

/* Slider */
.test-div {
  height: 500px;
  width: 100%;
  background-color: yellow;
}

.slider {
  position: relative;
  overflow: hidden;
}
.slider button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  font-size: 2rem;
  position: absolute;
}

.slider-text-wrapper {
  position: absolute;
  background-color: lightgray;
  width: 100%;
  height: 25%;
  top: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
}
.slider-text-wrapper p {
  text-align: center;
}

.slide-inactive {
  display: none;
}

.slider-btn-left {
  top: 50%;
  left: 20px;
}

.slider-btn-right {
  top: 50%;
  right: 20px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
body a {
  text-decoration: none;
}
body ul {
  list-style-type: none;
}

header {
  background-color: lightgray;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
header #header-container {
  width: 80%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
header #header-container #logo-wrapper {
  height: 3rem;
}
header #header-container #logo-wrapper img {
  max-height: 100%;
}
header #header-container ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: center;
}
header #header-container ul li {
  padding-left: 20px;
  padding-right: 20px;
}
header #header-container #hamburger {
  display: none;
  font-size: 1.6rem;
  width: 2.2rem;
  height: 2.2rem;
}
header #header-container #hamburger i {
  transition: transform 0.5s;
}
header #header-container #nav-block {
  display: none;
  padding-top: 10px;
  position: fixed;
  top: 3.875rem;
  right: 0px;
  z-index: 1;
  width: 0px;
  min-height: 100vh;
  transition: width 0.5s;
  background-color: gray;
}
header #header-container #nav-block ul {
  flex-wrap: wrap;
  flex-direction: column;
}
header #header-container #nav-block ul li {
  white-space: nowrap;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

main {
  min-height: calc(100vh - 4.5rem - 5.75rem);
}
main #form-wrapper {
  width: 40%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  row-gap: 0.9rem;
}
main #form-wrapper .form-input {
  position: relative;
}
main #form-wrapper .form-input input {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  width: 100%;
}
main #form-wrapper .form-input:nth-child(n+3):nth-child(-n+4), main #form-wrapper .form-input:last-child {
  grid-column: 1/3;
}
main #form-wrapper .form-input input[type=submit] {
  display: block;
  width: 40%;
  margin: 0px auto;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
main #form-wrapper .form-input input[type=text] {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
main #form-wrapper .form-input .error-text {
  position: absolute;
  top: 65px;
  font-size: 0.8rem;
  color: red;
}
main #form-wrapper #select-region {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  width: 50%;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}
main #form-wrapper .radio-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
main #form-wrapper .radio-wrapper .radio-holder {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  width: 60%;
  margin: 0px auto;
}
main #form-wrapper .radio-wrapper .radio-holder input {
  width: auto;
  height: 20px;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

footer {
  background-color: lightgray;
  min-height: 5.75rem;
}
footer i {
  font-size: 1.5rem;
}
footer > .flex-between {
  margin: 0px auto;
  width: 80%;
}
footer #socials {
  width: 25%;
}
footer #socials #socials-wrapper {
  width: 200px;
  margin: 0px auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;
}
footer #info {
  width: 25%;
  font-size: 0.8rem;
}
footer #files {
  width: 100px;
}
footer #footer-nav {
  width: 40%;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
}
footer #footer-nav ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}/*# sourceMappingURL=style.css.map */